/* utiliser une pluggin pour les fonts a la fin */

/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Poppins:wght@300;400;600;700&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&family=Raleway:wght@400;600&display=swap");

*,
::after,
::before {
  box-sizing: border-box;
}

:root {
  /* COLORS  */
  /* main */
  --orange: #ff917d;
  --orange-light: #fbdbcf;
  --orange-light2: #fee7da;
  --orange-border: #ffbbae;
  --orange-input: rgba(255, 199, 189, 0.2);
  --violet: #7a7ef1;
  --blue: #799ffc;
  --white: #ffffff;
  --pink: #e390b3;

  /* grey */
  --grey-m: #c6bac0;
  --grey-d: #505050;
  --grey-font: #6c6c6c;
  --grey-title: #454545;
  --grey-blue: #d7dcf2;

  /* gradient */

  --lg-violet-btn: linear-gradient(40deg, #7a7ef1 0%, #d181bc 100%);
  --lg-orange-btn: linear-gradient(#fea08f 0%, #ffaa86 50.52%, #ffb47d 100%);

  /* rest a travailler*/

  /* box shadows */
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  --shadow-orange: 0px, 10px rgba(255, 158, 152, 0.2);
  --shadow-orangeblur: 0px 10px 40px rgba(255, 158, 152, 0.2);
  --shadow-violet: 0px, 25px rgba(122, 126, 241, 0.3);
  /* typography */
  --defaultFontSize: 87.5%;
  /* rest */
  --backgroundColor: var(var(--grey-700));
  --textColor: var(--grey-font);
  --borderRadius-btn: 0.625rem;
  --transition: 0.3s ease-in-out all;
  --max-width: 1120px;

  /* font-family */
  --main-font: "Poppins", sans-serif, Roboto;
  --title-font: "Montserrat", Roboto, sans-serif;
}
html {
  font-size: var(--defaultFontSize);
  font-family: var(--main-font);
}

body {
  background: var(--backgroundColor);
  color: var(--textColor);
  scroll-behavior: smooth;
  font-weight: 400;
  line-height: 1.75;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-family: var(--title-font);
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: var(--letterSpacing);
}

h1 {
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.875rem;
}

h5 {
  font-size: 1.5rem;
}

ul {
  padding: 0;
  list-style-type: none;
  margin: 0;
}
a {
  text-decoration: none;
}

section {
  margin-bottom: 14rem;
}
.img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.sep {
  height: 0.06rem;
  width: 8rem;
  text-align: center;
  margin: 0 auto;
  background: var(--violet);
  margin-bottom: 3.8rem;
}

.btn_def {
  color: #fff;
  font-size: 1rem;
  width: 19.3rem;
  height: 5rem;
  border: none;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.57rem;
  text-transform: capitalize;
}
